body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; background-image: url("img/ladrillo.png");
    box-sizing: border-box;
}


/*Titulos*/
h1 {
    font-family: 'Young Serif', serif;
    color:wheat;
    text-shadow: 1vh 1vh black;
    text-align: center;
    font-size: 14vh;

}
h2, h3{
    font-family: 'Young Serif', serif;
    color:black;
    text-shadow: 0.8vh 0.2vh  wheat;
    text-align: center;
    font-size: 8vh;
    margin: 1vh;
    border-radius: 4vh;
    background-color:  rgb(245, 153, 92);

}
/*Forms*/
#registroProductos{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    
    
}

#registroMovimientos{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
}

form{
    display: block;
    width: 80%;
    padding: 10px 10px;
    margin: 4vh 8vh 3vh 8vh;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(245, 153, 92);
   }
   
   .form  {
    display: block;
    position: relative;
    width: calc(90%);
    height: auto;
    margin: 10px auto;
    padding: 30px 10px 10px;
   }
   
   .form  input,  textarea, select{
    display: block;
    width: 100%;
    border-radius: 20px;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    background-color: rgb(245, 99, 1);
    color: white;
   }
   
 label, #submit {
    display: block;
    position: absolute;
    width: auto;
    top: 0.5vh;
    left: 1vh;
    padding: 1vh 1vh;
    border-radius: 10vh;
    background-color: rgba(255,0,0, .3);
    font-size: 3vh;
    color: white;
   letter-spacing: 0.2vh;
    font-weight:bolder;
   }
/*Alerta*/

#alert{
    background-color: red;
    height: 20vh;
    width: 70%;
    margin: 5vh 10vh;
    border-radius: 5vh;
    color: white;
    font-family: 'Young Serif', serif;
    text-align: center;
    text-shadow: black;
    animation-name: alert;
    animation-duration: 4s;
}

.alert{
    display: block;
    width: 15%;
    padding: 10px 10px;
    margin: 4vh 8vh 3vh 3vh;
    align-items: center;
    border-radius: 10vh;
    background-color: rgb(245, 153, 92);
    color: white;
    font-weight: bold;
}
@keyframes alert {
  from {background-color: red;
color: yellow;}
  to {background-color: yellow;
    color: red}
}


/*datos ingresados*/

#table{
    display: block;
    width: 100%;
    padding: 1vh 1vh;
    margin: 1vh 1vh 1vh 1vh;
    align-items: center;
    border-radius: 5vh;
    background-color: rgb(245, 153, 92);
}
th, td{
    border: solid 0.5vh rgb(245, 99, 1);
    border-radius: 2vh;
    font-size: 2vh;
    text-align: center;
    
}
/*Responsive*/
@media screen and (max-width: 700px){
    #registroProductos{
        width: 100%;
    }
    
    #registroMovimientos{
        width: 100%;
    }
    #aler{
        width: 100%;
    }
    
}